
/* Your CSS Code here. */
.holder {
    width: 100vw;             /* full viewport width */
    height: 100vh;            /* full viewport height */
    display: flex;            /* enable flexbox */
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
}

.item-1 {
    width: 100px;
    height: 100px;
    background-color: red;
}
